<%= container do %>
  <h1>
    Editing
    <%= link @journey.name, to: journey_path(@conn, :show, @journey) %>
  </h1>

  <%= render "form.html", Map.put(assigns, :action, journey_path(@conn, :update, @journey)) %>
<% end %>