<%= container do %>
  <h1>#journey</h1>

  <nav class="mb-3">
    <span><%= link "New Journey", to: journey_path(@conn, :new), class: "btn btn-primary" %></span>
  </nav>
<% end %>

<%= container do %>
  <section>
  <%= for journey <- @journeys do %>
    <article>
      <h2><%= link journey.name, to: journey_path(@conn, :show, journey) %></h2>
      <pre><%= journey.body %></pre>
    </article>
  <% end %>
  </section>
<% end %>
