<%= container do %>
  <h1>
    New
    <small><%= link "#journey", to: journey_path(@conn, :index) %></small>
  </h1>

  <%= render "form.html", Map.put(assigns, :action, journey_path(@conn, :create)) %>
<% end %>