<%= container do %>
  <h1>
    <%= @journey.name %>
    <small><%= link "#journey", to: journey_path(@conn, :index) %></small>
  </h1>
  <nav class="mb-2 d-flex flex-row justify-content-between align-items-baseline">
    <%= link "Edit", to: journey_path(@conn, :edit, @journey), class: "btn btn-primary" %>
  </nav>
<% end %>

<%= container do %>

  <pre><code><%= @journey.body %></code></pre>

<% end %>
