<%= container do %>
  <h1>Edit Screen</h1>

  <%= render "form.html", Map.put(assigns, :action, screen_path(@conn, :update, @screen)) %>

  <nav>
    <%= link "Cancel", to: screen_path(@conn, :index) %>
  </nav>
<% end %>