<%= container do %>
  <h1>
    Editing
    <%= link to: screen_path(@conn, :show, @screen) do %>
      <%= @screen.name %>
    <% end %>
  </h1>

  <%= render "form.html", Map.put(assigns, :action, screen_path(@conn, :update, @screen)) %>
<% end %>