<%= container do %>
  <h1>
    New
    <small><%= link "#screen", to: screen_path(@conn, :index) %></small>
  </h1>

  <%= render "form.html", Map.put(assigns, :action, screen_path(@conn, :create)) %>

  <nav>
    <%= link "Back", to: screen_path(@conn, :index) %>
  </nav>
<% end %>
