/* This file is for your main application css. */

html {
  font-size: 16px;
}
body {
  font-size: 100%;
  line-height: 1.3;
  /* color: #8b0054; */
}
a,
a:hover,
a:visited {
  color: #c70086;
}
a:hover {
  text-decoration: underline;
}

.btn-primary {
  background-color: #c70086;
  border-color: #c70086;
}
.btn-primary:hover {
  background-color: #ad0070;
  border-color: #ad0070;
}

/* .nav-pills .nav-link.active,
.show>.nav-pills .nav-link {
  background-color: #c70086;
} */

.navbar .navbar-nav .nav-item {
  font-weight: 600;
}

main {
  padding-bottom: 1rem;
}

h2 {
  line-height: 1.3;
}

a small {
  color: inherit;
}

pre {
  white-space: pre-wrap;
  word-wrap: normal;
  word-break: normal;
  background: #fff0ff;
  padding: 1rem;
  /*border: 1px solid #c70086;
  border-left: none;
  border-right: none;*/
  border-radius: 0.333rem;
}
/*article > pre {
  display: block;
  padding-left: 15px;
  margin-left: -15px;
}*/

label {
  display: block !important;
}


.screen-body,
.schema-body
{
  padding: 1rem 0;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}

.screen-preview-iframe {
  display: block;
  border: none;
  border: 1px solid #999;
  width: 100%;
  height: 300px;
  overflow: auto;

  transform: scale(0.5);
  width: 200%;
  height: 600px;
  margin-left: -50%;
  margin-top: -150px;
}
