/* This file is for your main application css. */

body {
  font-size: 16px !important;
}

pre {
  white-space: pre-wrap;
  word-wrap: normal;
  word-break: normal !important;
}

label {
  display: block !important;
}
