/* This file is for your main application css. */

html {
  font-size: 16px;
}
body {
  font-size: 100%;
}

main {
  padding-bottom: 1rem;
}

pre {
  white-space: pre-wrap;
  word-wrap: normal;
  word-break: normal !important;
}

label {
  display: block !important;
}


.screen-body {
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}
