<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Lofi Play</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <main>
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills">
            <li><%= link "Screens", to: screen_path(@conn, :index) %></li>
            <li><%= link "Schemas", to: schema_path(@conn, :index) %></li>
            <li><%= link "Promos", to: '#' %></li>
            <li><%= link "Ingredients (Components)", to: '#' %></li>
          </ul>
        </nav>
      </header>
      
      <% if get_flash(@conn, :info) != "" do %>
        <div class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></div>
      <% end %>
      <% if get_flash(@conn, :error) != "" do %>
        <div class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></div>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
