<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Lofi Play</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <main>
      <header class="header">
        <nav role="navigation" class="nav nav-pills">
          <%#= link "Journeys", to: screen_path(@conn, :index), class: "nav-link nav-item" %>
          <%= link "Screens", to: screen_path(@conn, :index), class: "nav-link nav-item" %>
          <%= link "Schemas", to: schema_path(@conn, :index), class: "nav-link nav-item" %>
          <%#= link "Promos", to: '#', class: "nav-link nav-item" %>
          <%= link "Components", to: component_path(@conn, :index), class: "nav-link nav-item" %>
          <%#= link "Content", to: '#', class: "nav-link nav-item" %>
          <%#= link "Chatter (Convos)", to: '#', class: "nav-link nav-item" %>
        </nav>
      </header>
      
      <% if get_flash(@conn, :info) != "" do %>
        <div class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></div>
      <% end %>
      <% if get_flash(@conn, :error) != "" do %>
        <div class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></div>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
