<%= container do %>
  <h1>
    Edit Schema
  </h1>

  <%= render "form.html", Map.put(assigns, :action, schema_path(@conn, :update, @schema)) %>

  <nav>
    <%= link "Cancel", to: schema_path(@conn, :index) %>
  </nav>
<% end %>