<%= container do %>
  <h1>
    Editing
    <%= link @schema.name, to: schema_path(@conn, :show, @schema) %>
  </h1>

  <%= render "form.html", Map.merge(assigns, %{
    action: schema_path(@conn, :update, @schema),
    cancel_url: schema_path(@conn, :show, @schema)
  }) %>
<% end %>