<%= container do %>
  <h1>#schema</h1>

  <nav>
  <%= link "New Schema", to: schema_path(@conn, :new), class: "btn btn-primary" %>
  </nav>
<% end %>

<%= container do %>
  <section>
  <%= for schema <- @schemas do %>
    <article>
      <h2><%= link schema.name, to: schema_path(@conn, :show, schema) %></h2>
      <div class="row">
        <div class="col col-12">
          <pre><%= schema.body %></pre>
        </div>
      </div>
    </article>
  <% end %>
  </section>
<% end %>
