<%= container do %>

<header>
  <div class="row">
    <div class="col">
      <h1>Get design, development, and marketing on the same page</h1>

      <h2>An open source system to plan your product as a team across content, architecture, and user journeys</h2>
    </div>
  </div>
</header>

<% end %>